<div class="bio-body">
    <h3 class="project-label">
        {{'##U2FsdGVkX1/GvmKqS+n9cVdvQWzzCtaAEYAHi3SOyDY=##' | decode}}
    </h3>
    <ul class="inner-list">
        <li>
            <b>When:</b>
            <span>
                {{' ' + ('##U2FsdGVkX18N84UzCMLHwSf4b4625H5Is39H1ex05LM8W0/MqskpEw15XsZ2JEuw##' | decode)}}
            </span>
            <i class="caption">
                &emsp;{{'##U2FsdGVkX19FB8vxYfZDY1L4kx0pIFA+cwWxqDnGPKE=##' | decode}}
            </i>
        </li>
        <li>
            <b>What:</b>
            <span>
                {{' ' + ('##U2FsdGVkX1+UCQUxvjP0Ls4/cPImW5GU1u263LA20txT1aTkzCVtASkZKCwkxuVW1GVLpPkUB2mCpm19Z99GpRhoeHUIvdttvjgPzcuNhYdG/Vz4qn+iiZuNXafmG6mv##' | decode)}}
            </span>
        </li>
        <li>
            <b>Stack:</b>
            <span>
                {{' ' + ('##U2FsdGVkX18KSEQcyBTg71sxjHDY7EtIz5Dj2WfiGGBDh8jGNMVEtQVVu1eoJfAeIbEfTcU1osUPUPUxyl7KCFrpvgPnKoUf8qa/oLsyHmqAe0hdnToPf3Ud7kmu3/DZzLTBbQ9eYE8RVBkTewB2V+70h0hpgnX1U0Q886Z1ePCgZrqhAAwOmXMU5GwjIUMGTO51Df4hSKyN9t0WQ3CUxg==##' | decode)}}
            </span>
        </li>
        <li>
            <b>Responsibilities:</b>
            <span>
                {{' ' + ('##U2FsdGVkX18PV33M8aa9NK1j7NwbCgom8iZK3HKukFfUkI/Yoh6+ZqoVqL8EhqseeT1L0jVKi61UlMxhXHSp0n6e03cTxuwn6+EHQo741OvOP/aCGDLUjxjB2bTSZFM+DEmYGAVCOUE1FuH3qtE4qJyV/Lv0qmpJRzJZ648CuxNVGPnojylmgSds6EL5P1NuN1PizzNCPap86fQFRfIRTw==##' | decode)}}
            </span>
        </li>
    </ul>

    <h3>
        <a 
            [href]="'##U2FsdGVkX19/6ywdo7xB4Ii7CVutIuaM0G/BZLssNMB1zOoZ4S9kMhIx+aHFu0ij##' | decode"
            target="_blank"
            rel="noopener noreferrer"
            class="project-label">
            {{'##U2FsdGVkX18PuJDRAhXQSLf/IlVyWScNKPyGLW+Eewc=##' | decode}}
        </a>
    </h3>
    <ul class="inner-list">
        <li>
            <b>When:</b>
            <span>{{' ' + ('##U2FsdGVkX1+BD0C9+NiCPeRUOyPl+e6TfANc+X9kWfUrQ1xbbmxZsE6AkvC3Y+Vz##' | decode)}}</span>
            <i class="caption">&emsp;{{'##U2FsdGVkX19ft5guS+7zfwgrUPY3FInN1en1qlERZLY=##' | decode}}</i>
        </li>
        <li>
            <b>What:</b>
            <span>
                {{' ' + ('##U2FsdGVkX1+liTmnTkW36vRL0jtIWriHa7umXZfkbCX42yHk1b+veDMlol3kLylCrbuH27+UZV0yhPMWnaYJ93U5fBek4UEoofGt2qgWUJs=##' | decode)}}
            </span>
        </li>
        <li>
            <b>Stack:</b>
            <span>
                {{' ' + ('##U2FsdGVkX1+uk8eAhLntlKz4FUbmmdq5heh8SlUq2r8jQipMWvyqFrLUcyGQ+Nhsf15QGpTuYWzP+UnNOL5Nwj0T2hX+p2z47rjXmiOU3IwlSQq0OvlsJaQejVHaGOYqu6o8IlrHXuXnFOrjlfB78Vs0CZ//JtFw1Zi/kddwNsgv+Pnxk+Ajqt8GlASEp/Dt72ymXaZ9YEc4CqqSL+NnolVp/xQ9Aqnl16mnVE5c+Zr7M7WoWtUJtnSmK7kdcEfBQ9c6Rnj4BrjVzt2hvL3tNRdQmgFjtOyaJHslY4sXH/E=##' | decode)}}
            </span>
        </li>
        <li>
            <b>Responsibilities:</b>
            <span>
                <a 
                    [href]="'##U2FsdGVkX19XoJrv3qC7v9SNNnH92bWyr+PsmNTbQ8E8YZn9PTUE0CpMc1pKO8LR##' | decode"
                    target="_blank"
                    rel="noopener noreferrer">
                    {{'##U2FsdGVkX196z2CIX1oqallzDwq8q8R34W+GN5G6uTb9zVRWsCOWaUqWDhy/nMov9egkQoRyKkD9GWUKOoqYMA==##' | decode}}
                </a>
                {{' ' + ('##U2FsdGVkX18EDruqLTGNQ4iUtvzQ3Rvm6d5yAIeKK0rOa6YmQBQzeJ3ilhcx/1cd2OqYb4zaUzM5No7Ej5xXyPXgManYEv6OuL9u6UtqHbni2lXT8ElLgT9aAygmgR9XjZhn39E59tslzX9PwECVfCkU9oB6P7Zi7sI9SAYMrzFP3ibs1hClWGWnNF9+7sTFJPx+dmebS/jCZNNzX6bFjQ==##' | decode)}}
            </span>
        </li>
        <li>
            <b>Also:</b>
            <span>
                {{' ' + ('##U2FsdGVkX185veOXUCIAIZQqNoz0Y3Mowy2+cCSVoWM4mfNKIRg8TwagwNsNHyCkAOMYO9Zs3o4xYo+2Kj9EYftITDSdJ5fUXpZdTBQy8AedlXdqz/QVmw2+xkdY1EfeA4YE4jP8T0EyJvCavDCaAs6ILSnjERm9uWAG7887NTNJmZa+yptZ5iU0f49fpDSJvhCGdjIqISq9I1CzMqV1uz6cozJpiPQh2yKBxdsjDst/ynERx7svzQvaUm1r7Lgw8XEZES+R8fgTBLDXUOsEH6GRRCUhuLPBnfWhFQMGyfk=##' | decode)}}
            </span>
        </li>
    </ul>
</div>