<div class="bio-body">
    <h3>
        <a 
            [href]="'##U2FsdGVkX18DGQ3HPllzStsInqfvhgNbtcHSam3xCRT7/3b+mkMQF38jgjVAHX9B##' | decode"
            target="_blank"
            rel="noopener noreferrer"
            class="project-label">
            {{'##U2FsdGVkX1+Z7MCkDKZPt1AYYuOGxsb/aAYzCfGrNok=##' | decode}}
        </a>
    </h3>
    <ul class="inner-list">
        <li>
            <b>When:</b>
            <span>{{' ' + ('##U2FsdGVkX19DP6QIkVVTn6vWE2DiH7PKponMyYxcY9SifN34xnEhu9IOfl/9D6PJ##' | decode)}}</span>
            <i class="caption">&emsp;{{'##U2FsdGVkX1+VOmykhKIFfRY0gynISQs/1UEV3WgHIP4=##' | decode}}</i>
        </li>
        <li>
            <b>What:</b>
            <span>
                {{' ' + ('##U2FsdGVkX1/AS2n9UZ6LR3T5yLPOn8La+KOa1KCdwz+em4kwEOW1O46Wjh/G5u4IQWyk/A5vBC2vCt/RE4kY0AgasGlp2DQ+Kj6AAqdJ+GU=##' | decode)}}
            </span>
        </li>
        <li>
            <b>Stack:</b>
            <span>
                {{' ' + ('##U2FsdGVkX1/DQHE5HihMSqYcoWl+j9AaaE4b5Q67CTuahDCsV7qF165l7YtS+4hlr6XozVduTTZFy7C4Few5xjSxo3xwYLzHOcDQ9iVWKsjXSOvWNi0MOZEdpSPXzzpaECsk1C+IKfEP9PyizUmV4T7JzoLlnGAcrDSbsY9XDIrpLujJW/Zk8uTw8EEpxH1SxD2elZ8sVAkimhEfzp7BlnlqH3vYpUpFFluEWmt065uQxbCAfPj1/sJyRfn+rC6vdM/1ojfO37He4HlyvokfvCfJnOteP380wnX7MroGWxU=##' | decode)}}
            </span>
        </li>
        <li>
            <b>Responsibilities:</b>
            <span>
                <!-- Preserve space between subheader and anchor -->
                {{' '}}
                <a 
                    [href]="'##U2FsdGVkX19E/yFsCBRcdkqWZnT2yiEpn8fEjpEqCRlTU1YRQ39Swuqm8SDQIaDs##' | decode"
                    target="_blank"
                    rel="noopener noreferrer">{{
                    '##U2FsdGVkX19quIOrikvWNBnu+bsEg7UusuvyHfoBK/J1OnWuPkKg9JFGHCpQDENEelxSFhOStzNDIu1d2FDuFQ==##' | decode
                }}</a>
                {{' ' + ('##U2FsdGVkX19xE0d4zp5ZNWEgUNKnTwLTeNi0+ida5y8iuvUmwKYO2WCTuwGsQvnR1WxmoRknVJy12voLJ+CpH4qXQMOrSjgR45C/DQHKKCEHYRR0uJVucRIxxvyq2qpfy1gTlowTXCIoVoM0A51j0DHvG1BQ+FLWtB/dLEiLmQvOA9fD53dTSZdWhHi2i7Du49GiFLqSJbFDMaQsn7Ab6g==##' | decode)}}
            </span>
        </li>
        <li>
            <b>Also:</b>
            <span>
                {{' ' + ('##U2FsdGVkX19PzfeQhfRgM7EoVmXN7PsByKu85uQ3TmTPLiwlPZoMpDemDpx/nrIJ2u2UgD9jeIxmKK35DOUBHK2ZeghL68bAB5W/Tuv6qlb/bm/lDzt2pmf9nviKk7LKDDGPK0B5NqXN0xxAGiXf38iruHZ98YfauBoCEclvPhD8iDlkqa9ocOU7vir0PedsWfRZrivMEKcyd2JHEB/lCx3+Zz5PinJpWqPBkhKDTgJ6ZXMh9GCytsn4y4UEVxnBVk83Ny9bA/Z45kFuC7Okwq8xLer5FkziaaLPJ2QlDI8=##' | decode)}}
            </span>
        </li>
    </ul>

    <h3 class="project-label">
        {{'##U2FsdGVkX182PgwsIX9U46XhPGev/33xq906lOvcijI=##' | decode}}
        {{'##U2FsdGVkX18/VwwthHW2pHUQynCnKvLr2mDjnQ35mgY=##' | decode}}
        <a [href]="'##U2FsdGVkX18SOpMQRWm6qBzIWUX+ss20HWoOsZ1+r4lKber9a2pHqZuAlNgdeO8L##' | decode">
            {{'##U2FsdGVkX191lNVDRm3J/YmH5VWsrZP4/SeRWsO06pc=##' | decode}}
        </a>
    </h3>
    <ul class="inner-list">
        <li>
            <b>When:</b>
            <span>
                {{' ' + ('##U2FsdGVkX19RbLqLTECJirhj3unnNxG+9mC/H7DyOrZOqkZSsaaHYrap7ChLix9/##' | decode)}}
            </span>
            <i class="caption">
                &emsp;{{'##U2FsdGVkX19VBOcjRJFpMiMuC00HWm9a0tpSM73fFDo=##' | decode}}
            </i>
        </li>
        <li>
            <b>What:</b>
            <span>
                {{' ' + ('##U2FsdGVkX1/JibGyg1VUvoGjpzIzoaHUoiLxP2N549JoJ1HXwc5nqVLaC9XYhrQIyUY07mOMX7zMJ55808Xgv1N7Kue5vZYvBUCGZIIl/e+SW1QugQzTkffe8ui87nEI##' | decode)}}
            </span>
        </li>
        <li>
            <b>Stack:</b>
            <span>
                {{' ' + ('##U2FsdGVkX18+iK8QpYoUZHxHt/qdn/2HvgcqUknBiSXPkZ3wwTh9OmTbVJBRzcyX9TJyODJ/YsxG9jRo5DLnTwZkzOtoHsvamMBlond9cv4kaoTRo7ruvG87nKBv2WFsAXIS2Padnk5OvBXQtVcC3oLct6oauaS5yFoQC5Qc9W9IP9KT0OFXDXuYG0b/zaL2qJXLaZNg00zSZEd967la1g==##' | decode)}}
            </span>
        </li>
        <li>
            <b>Responsibilities:</b>
            <span>
                {{' ' + ('##U2FsdGVkX18rOEHTW09s5fW/wM9WBQYGJkF+Tg0gLa3zIZIY8l4RU0p3qWd4+YOMeWP7w6OpiJjrma2yEV6if2ZzMYRaQ2/vOrbXisy6qjPi6ZFOFYjTIxiIItckzsxyw6XXK1DwJXEjdP2ROD3bKjFqxejgww9e5NlZkQJwKOuxHPTZ31oIe73D6oKOnIBN5bB0QFvIQK5DuC3wMdYIxA==##' | decode)}}
            </span>
        </li>
    </ul>
</div>