<div class="bio-body">
    <h3>
        <a 
            [href]="'##U2FsdGVkX18ms1mb8d/dcjnQcJ963mkmLFwhYFbPHq7uE0lG/0A3EyR2F9PdG4Y1##' | decode"
            target="_blank"
            rel="noopener noreferrer"
            class="project-label">
            {{'##U2FsdGVkX18yb9nDdEhR1g8l8130VOmjX+AbUqecuP8=##' | decode}}
        </a>
    </h3>
    <ul class="inner-list">
        <li>
            <b>When:</b>
            <span>{{' ' + ('##U2FsdGVkX1/8re22i3WhrLIzPd79+MEGbHBwI692Rt28tfGGHMTgjyUzCuKfVQqX##' | decode)}}</span>
            <i class="caption">&emsp;{{'##U2FsdGVkX1+mi/USii9LsA89EdJckU4lLKY4n6YpFo0=##' | decode}}</i>
        </li>
        <li>
            <b>What:</b>
            <span>
                {{' ' + ('##U2FsdGVkX19fteIvdHqt199tB5V1jUP3+MRlV26KqRF2jt7F8r+x947gwcHq46vejuWi43AmfGYAEs+piB9pxUZFCPVJi8iM/RRQL9URBRQ=##' | decode)}}
            </span>
        </li>
        <li>
            <b>Stack:</b>
            <span>
                {{' ' + ('##U2FsdGVkX1+U3lp9/HSXJda5kgTvkw7mTuuApZcvwo9v9GAHeQDVOTIQjKoW7hZG1hmtuNweyaKtb6xJryo/bGVYXAxhCNrSLkmR4etLO3dYCaoI0vATMbhLxKDwb46KEfBxW4bpiY1SLIa+aedpOfLTcXLrMUuFkC4xB//w5g767Ys6qKhvphKb/ZhhzRmsLAKDEiwmnz5NpDX4W3QhQ/WDvpyOlN5IYtj45dvdKgg47/p36mT1NVlMyaqWYJtyBya0fFWznWjsbF6uGsTbZg7SZCq5swhkjvocTGXUWsM=##' | decode)}}
            </span>
        </li>
        <li>
            <b>Responsibilities:</b>
            <span>
                <!-- Preserve space between subheader and anchor -->
                {{' '}}
                <a 
                    [href]="'##U2FsdGVkX1/V0WC8sDvuwkAR/HGiybR2m+3+kd2EJ7UtTuQpMj+5DbTL3niayGly##' | decode"
                    target="_blank"
                    rel="noopener noreferrer">{{
                    '##U2FsdGVkX1+V6SQAqFTZUz1Q67WjoldXxTibHq/rzdLQBflJy1DQoJXOcAC5iRWe8yvIWvRP4mFURLXqJM6wPw==##' | decode
                }}</a>
                {{' ' + ('##U2FsdGVkX18FVFEuA6KhdTtRCQqy6WyquI1ieEyi60igQNFUb2WlpDvA2PrDyY81l7c4u9PHz3LI/jTBRg7++3VHVq7jcZkexvQEaycxpO9GVmRQBAyICKfRsSS/WeFCYwUWRpZFKXhYoeUy55VRScyhsk8UTpeq2ImPQ7GX6m91okIFe26CplDo9cg/vv9aXOgO2D59vJfiPvKKWf6k8Q==##' | decode)}}
            </span>
        </li>
        <li>
            <b>Also:</b>
            <span>
                {{' ' + ('##U2FsdGVkX19GlcAIgWEmg+isUHs9+mCeChwyVm4j3WSVxzoXQQmFW3edTPk9plKFio0QXThxHWpwasXkwlC1TmpJj5HyvNXPeppib945HFv3DWGrwJUprp3nhn2d5czslLmpC0K9oF+xNAyv1Y7mXp5HELiAfgZYrqwLEXsJO/TMjdijRJHqQQzWCySqq0I+JQQZvd54m1AJ5zYlgRuLEJV+H09KLULsP9Lm0GYneWhjLm9fabSqKuORIun+j7jyGXa9QGNBlXNZCA0iII3+e6AMDokp1klSw45ILu4mseM=##' | decode)}}
            </span>
        </li>
    </ul>

    <h3 class="project-label">
        {{'##U2FsdGVkX1+tQrzR9nOdfTVGzyIiEICfXyMNI/WytD0=##' | decode}}
        {{'##U2FsdGVkX1+jkfY9TlicAGV2a4qbouI92CGCJ+eOsPE=##' | decode}}
        <a [href]="'##U2FsdGVkX18/FkomB6m4OAD8m9WmFPzsbx1C2sigqiAubqaM4CGG7Gxlrs3TkxwS##' | decode">
            {{'##U2FsdGVkX1/6exDWLoaigeKuIiblI0egxXdIp5l0EFA=##' | decode}}
        </a>
    </h3>
    <ul class="inner-list">
        <li>
            <b>When:</b>
            <span>
                {{' ' + ('##U2FsdGVkX18jDjubdyPSMsxERdbbPQ6xhvB5gOA8aX9uC14xRH5xqrYOzKp7dova##' | decode)}}
            </span>
            <i class="caption">
                &emsp;{{'##U2FsdGVkX1/X6f4H2RkHGndnG6IqtPiFvL59ecdr1Po=##' | decode}}
            </i>
        </li>
        <li>
            <b>What:</b>
            <span>
                {{' ' + ('##U2FsdGVkX1/BmdbjqdJIPkfGoySgOFA/quIwIBBzp8xIrKbgCOquyV0H9t1vvWbEqvB/7SDTxQM1DKDlATOyhY9FMRg1TrDIDabhP70wmMkzKZnouZiz9bQMRzJJ3spd##' | decode)}}
            </span>
        </li>
        <li>
            <b>Stack:</b>
            <span>
                {{' ' + ('##U2FsdGVkX18+7n7dNUA29cmotb6R89RlUwJLSAI33uvI7EhqKUJCqTLmtLP71ld+P0VhCnQ8VxjB7M8/YWe8YmoGe9xqtfHgSLBZxAhcD6EdymbchqRSIyYCBYtbsRtqPHSpGiiiB5RtoTRDdq7cmqtGnyWxo79NU9OE7OobfZNhGx1N5wTQAe/Rb6WSnQ53ut4BsDzI/UJ0r9ePnIZrMA==##' | decode)}}
            </span>
        </li>
        <li>
            <b>Responsibilities:</b>
            <span>
                {{' ' + ('##U2FsdGVkX1/h4tMg2EQiEDbvKCjWNaUFMwNdXEF8zwVlRSRWIJifAefnZcEeQ6qJeNCqfSAy8VNaC1sfsUCNhpz+i4rs6MBXLl1aTCLMnSHCUOtmVdZBEFjys+lyBD1IUB/cfR10dfmfklpMVLsW4JwDbCEOaA4Zu3yzJuOiTMo4mUTJX8cq9rPQ4ojmtttuz27NhRDTzHVXihFPVLC/WA==##' | decode)}}
            </span>
        </li>
    </ul>
</div>