<div class="personal-body">
    <div class="personal-block">
        <h2 class="name-label">
            {{'##U2FsdGVkX1935DuHsOAGe9f0S6/7njOf9o7FlL151f5xCWww5uBnt16KI3WgTgep##' | decode}}
        </h2>
        <p class="position-label">
            {{'##U2FsdGVkX18yhihcxUupI0CuXuhltIDkb9uYBRPckInxVZ2oTBDnvF3ltkFLw3/g##' | decode}}
        </p>
        <p class="experience-label">
            {{'##U2FsdGVkX1+/bkGagfRDETFvzj8TQmbLzGNOdprP+GpYgjL7MEgiOmL2mMWHE2jBU6CQAmMsLvH3Uxpc4mghq9gKffl01pgQJCJUGnWA1bM=##' | decode}}
        </p>
        <cv-contacts></cv-contacts>
    </div>
    <img 
        [src]="'##U2FsdGVkX1/mNOedkYYb1GPCiyhpzTe4Ns9WK7vJ3bfJ6ZljGWHEpxHBGtVasQkaZN+7wbTs8JLRXHuhS0QerA==##' | decode"
        [alt]="'##U2FsdGVkX1/xCZYXuLgUS2x/1zZ2PoMQXdGoIyjnTsg8ZjmD1eM/OreTiJQbwd0V##' | decode"
        [title]="'##U2FsdGVkX1+NvksSgEAlGcm5EF72ndOGlIeXmkLlkuMMj0kQABZF45O/cebO5mBA##' | decode"
        class="mat-elevation-z4 photo-image">
</div>