<div class="personal-body">
    <div class="personal-block">
        <h2 class="name-label">
            {{'##U2FsdGVkX1+rxTOzGDOuKXrqbXbV5rTP+bgWnCfAcmPPYLphdF/UxlihF5YO4kse##' | decode}}
        </h2>
        <p class="position-label">
            {{'##U2FsdGVkX19qhj1KnitWj0BL+3XrnfOLX1Yw22a512SnT7U89r325r+sFswvxPre##' | decode}}
        </p>
        <p class="experience-label">
            {{'##U2FsdGVkX1+73AeLzOzs1Z9T743JA6yxU+191dwEr8gZvlqrY3OnGhSK3osW16ioGfttV74xGKTBC9tNrcmbAllyJR8NtIlY8NoMtNOz78M=##' | decode}}
        </p>
        <cv-contacts></cv-contacts>
    </div>
    <img 
        [src]="'##U2FsdGVkX19TKitBrOO3sUoPdioAJmhbRsCRS3b7m6W64bTPUi09YtGB74sV2BnqqpWq40ohKX8UJZSybvmSAPEH/oCOQePf6QnmyFFfi6tNk04GLggSAkWBw3Wr3iPo6NOTd9h7psPCiiAFcbw4BQ==##' | decode"
        [alt]="'##U2FsdGVkX18tFTaJTRt8ahicLe3mC759NOuvAlEToHaYQvFGoD5GF/XFfxLu7a49##' | decode"
        [title]="'##U2FsdGVkX18vEniBGwP3K+seUfdv1J7cp5oriMK70ej0bCPdp0RaaEZHVdcUS5dl##' | decode"
        class="mat-elevation-z4 photo-image">
</div>