<div class="personal-body mat-elevation-z2">
    <section 
        aria-label="Personal info" 
        class="personal-section">
        <div class="content personal-block">
            <h2 class="name-label">
                {{'##U2FsdGVkX1/cDp4YDoJWVD8xxbuHu1UeQ75c/hw/9Z/T7DS0ZV6RDF7BZ+GXhXPG##' | decode}}
            </h2>
            <p class="position-label">
                {{'##U2FsdGVkX19IfIUwwzUXlRk36zLpxgolvRxDKOj3gI1GCPxO2ZbRfLWk4thzFXGN##' | decode}}
            </p>
            <p class="experience-label">
                {{'##U2FsdGVkX18n3SJSIRx2AKDYSB2lnwi9mNdmUmNFj+DLNF/9cGwf+X3J+bcLsqpQn7UYcouiGyijQc47hQowuo9Ve1g+30OE/UMUWKSbuLg=##' | decode}}
            </p>
            <cv-contacts></cv-contacts>
        </div>
        <img 
            [src]="'##U2FsdGVkX19x3EcXFRw7UFndsPZuNWADsu3rbN6J6assHZmopQv8YIT3Xa5+L4Fi+Cz1x1t1XmT7ZgJyxVFQ2Q==##' | decode"
            [alt]="'##U2FsdGVkX1+P7xV6kYRB7Vh1JqR6A14tZPfXO52x3js62CcVykLOrHp+/xdukLgn##' | decode"
            [title]="'##U2FsdGVkX19z15lbC2PuTZx2Ut3TYImvhwxl+RMRYNjEdaIaV8CXVTqDuQEt/+dH##' | decode"
            class="mat-elevation-z4 photo-image">
    </section>
    <section
        aria-label="Hard skills"
        class="content skills-section">
        <p class="primary-skills">
            <span>Angular</span>
            <span>RxJS</span>
            <span>Typescript</span>
            <span>HTML5&nbsp;/&nbsp;CSS3</span>
        </p>
        <p class="sub-skills">
            Performance, architecture, UX&nbsp;/&nbsp;UI, Karma&nbsp;/&nbsp;Jasmine, GTM&nbsp;/&nbsp;GA
        </p>
    </section>
    <section
        aria-label="Goals"
        class="content">
        <span class="goals-label">
            {{'##U2FsdGVkX195XwkesCGag+zlbpVm2DWfGB1MdklUMQGNP1Zm7Xl1fGQPIb1aGZiA8gEZ2F7xzYdOZ/INq8RxNeihe3nXvAvkxdeUtKsmVvjI8BHyFxfL8HXc8i9FPMXW##' | decode}}
        </span>
        <ul class="goals-list">
            <li>
                {{'##U2FsdGVkX18rk+QmxrdUfYb0+izZru7AIwP1EvugB8JD4aLaupfC5NtvjikeuCfH+YE3x7k9mBAYqgTpF9rDR+fR8XVEvFlKrB4a6lN4WSIxMCvQwBHPOj250ibOOdg/ugb/BOqIIkdZGIWqeA/1ng==##' | decode}}
            </li>
            <li>
                {{'##U2FsdGVkX180vmqTm1L+33w8EUy7Y9Aa38y4zkg8U/rsVmKC7XgpL86pbl6cD53LKsHuc1Yud4EVXPuveUt8frd6uGX/IcZ585HWYPsVJq4HZDgIYqkfmlAXxy3Jbq97##' | decode}}
            </li>
        </ul>
    </section>
    <section
        aria-label="Past projects"
        class="content">
        <h2 class="bio-label">Bio</h2>
        <cv-bio></cv-bio>
    </section>
    <section
        aria-label="relations"
        class="relations-block">
        <p class="relation-label">
            <span 
                title="I like" 
                aria-label="I like">
                😍:
            </span>
            <span>
                {{'##U2FsdGVkX1/ijIJmjky7uo6WFHdwKjn4JVbait79UNbMPnOctdsYksZGgd3FtzJv6TGncfwe7TdxPt1OyZQPBg==##' | decode}}
            </span>
        </p>
        <p class="relation-label">
            <span 
                title="I dislike" 
                aria-label="I dislike">
                🤢:
            </span>
            <span>
                {{'##U2FsdGVkX1+KgEwWMKiqcZGDy1P0EwoCpHusIsMV0qPk307wA/higPFL5pHlgB56ycyd8XKcR7sGifRyOgC2jQ==##' | decode}}
            </span>
        </p>
    </section>
    <section
        aria-label="feedback"
        class="content">
        <i class="contact-label">
            {{'##U2FsdGVkX18/RygsAOhmADEeBlUIroZH3wNhNMberrY3T36Xx1KtxlhZIty+cy5IK4xwehT8RIdej3gVnShtZt5HsoDvO1gdfdAHpZQWz0o=##' | decode}}
            <a [href]="'mailto:' + ('##U2FsdGVkX192ju1TGcT1kePV3pqEAbVSakTRt4unQZ5BkTrIvktfubSL+r1wH/JL##' | decode)">
                {{'##U2FsdGVkX18x1zJrrimNMvGVE64xisOR5DUY5S4xQDGJTQjEXcQU+Zn+XK4MqqyY##' | decode}}
            </a>.
        </i>
    </section>
</div>