<div class="contacts-body">
    <a 
        [href]="'mailto:' + ('##U2FsdGVkX1+YZ5/f8TRfdG4tYNhAY71O0ZuO7I/rkhwo3owdxkTFR9bTlCxdoFBM##' | decode)"
        title="My e-mail"
        target="_blank"
        rel="noopener noreferrer"
        class="unprintable entry-block email-anchor">
        <mat-icon 
            aria-hidden="false"
            aria-label="My e-mail">
            email
        </mat-icon>
    </a>
    <a 
        [href]="'##U2FsdGVkX18OH6BE8is0UKHq6Tscc5JdFeMaBzJU9HWVdTuo48EHuxSAjcTHTWmz##' | decode"
        title="Me on Github"
        target="_blank"
        rel="noopener noreferrer"
        class="unprintable entry-block">
        <mat-icon 
            svgIcon="github-light"
            aria-hidden="false"
            aria-label="Me on Github">
        </mat-icon>
    </a>
    <a 
        [href]="'##U2FsdGVkX1+bLFGy6l5Jp9a1w8N6PYsZjT1z7s9g/BZqy9i2v0GDcDjY95VVJ++H##' | decode"
        title="Me on Telegram"
        target="_blank"
        rel="noopener noreferrer"
        class="unprintable entry-block">
        <mat-icon 
            svgIcon="telegram"
            aria-hidden="false"
            aria-label="Me on Telegram">
        </mat-icon>
    </a>
    <a 
        [href]="'##U2FsdGVkX19tm1K0jfH7Zpx3tL+VZGbRyLODXX6FHi9F7hQzi9FN8nkcgzg5liiKXp4nifd0dML8ZW5I7h4y2A==##' | decode"
        title="Me on Skype"
        target="_blank"
        rel="noopener noreferrer"
        class="unprintable entry-block">
        <mat-icon 
            svgIcon="skype"
            aria-hidden="false"
            aria-label="Me on Skype">
        </mat-icon>
    </a>
    <a 
        [href]="'tel:' + ('##U2FsdGVkX19w6hpzkBf45i1Uy5I62do2Z2jR3lwup1w=##' | decode)"
        target="_blank"
        rel="noopener noreferrer"
        class="entry-block">
        <mat-icon>phone</mat-icon>
        <span class="entry-label">
            {{'##U2FsdGVkX1+/PbEcBeMtu6+zoTLb7PnYr/NYzs3CdpmkoiME+X+ab4iGS23RwJnD##' | decode}}
        </span>
    </a>
    <p class="entry-block">
        <mat-icon 
            [style.color]="metropolitenColor$ | async"
            svgIcon="metropoliten"
            title="I live at subway station"
            aria-hidden="false"
            aria-label="I live at subway station"
            class="metropoliten-icon">
        </mat-icon>
        <span class="entry-label">
            {{'##U2FsdGVkX1+NZyEJb72vpRBGmn1qNpZ3+b7eHOYM96cwVxP+CU+ohwE+hKkSBLMD##' | decode}}
        </span>
    </p>
</div>