<div class="contacts-body">
    <a 
        [href]="'##U2FsdGVkX1+UHTdxKwiqq1jyNs+r2th4i59v457lGLCXQOCv/gw4duhHSkB73gh5##' | decode"
        title="Me on Telegram"
        target="_blank"
        rel="noopener noreferrer"
        class="unprintable entry-block">
        <mat-icon 
            svgIcon="telegram"
            aria-hidden="false"
            aria-label="Me on Telegram">
        </mat-icon>
    </a>
    <a 
        [href]="'##U2FsdGVkX1/homZtaoIcVSfdDSX6nhuUvvr9782Vzsv6cO7RUZLV1MaTjdkgDKurA4ATpWBPyBIfh1XV/Tcrnw==##' | decode"
        title="Me on Skype"
        target="_blank"
        rel="noopener noreferrer"
        class="unprintable entry-block">
        <mat-icon 
            svgIcon="skype"
            aria-hidden="false"
            aria-label="Me on Skype">
        </mat-icon>
    </a>
    <a 
        [href]="'##U2FsdGVkX19UCqn4kqUF18Hg5w26cZ4YB2ItMqhv/ryeo9y14KyxHPii+vEN1/s/##' | decode"
        title="Me on Github"
        target="_blank"
        rel="noopener noreferrer"
        class="unprintable entry-block">
        <mat-icon 
            [style.color]="githubColor$ | async"
            svgIcon="github"
            aria-hidden="false"
            aria-label="Me on Github"
            class="github-icon">
        </mat-icon>
    </a>
    <a 
        [href]="'mailto:' + ('##U2FsdGVkX1+9v8m/3F/bZ/n4mgImKUAjqm3c8+ld6gQ2SmMJH7sHpV+ISB04V6cV##' | decode)"
        title="My e-mail"
        target="_blank"
        rel="noopener noreferrer"
        class="unprintable entry-block email-anchor">
        <mat-icon 
            aria-hidden="false"
            aria-label="My e-mail">
            email
        </mat-icon>
    </a>
    <a 
        [href]="'tel:' + ('##U2FsdGVkX18+Sm5HRomd1sLYyFOSpnY0iprRbfbzqfc=##' | decode)"
        target="_blank"
        rel="noopener noreferrer"
        class="entry-block">
        <mat-icon>phone</mat-icon>
        <span class="entry-label">
            {{'##U2FsdGVkX18ZFRYFtv+b4y372nbn1KtoVsmq2n6OfCANnFX2pZCx3d1x1TvtrgGx##' | decode}}
        </span>
    </a>
    <p class="entry-block">
        <mat-icon 
            [style.color]="metropolitenColor$ | async"
            svgIcon="metropoliten"
            title="I live at subway station"
            aria-hidden="false"
            aria-label="I live at subway station"
            class="metropoliten-icon">
        </mat-icon>
        <span class="entry-label">
            {{'##U2FsdGVkX1/Vjbf5ynF1+zR5RLhMfqZupTpW9Rzm7KW2c1XfFYm6XHBMuB2hCKT5##' | decode}}
        </span>
    </p>
</div>