<div class="contacts-body">
    <a 
        [href]="'mailto:' + ('##U2FsdGVkX1/E75kBlVNEU7jOFsMDFZ9GhKlbFXXFefNkSU8EHIFq4XurLnDVUHYo##' | decode)"
        title="My e-mail"
        target="_blank"
        rel="noopener noreferrer"
        class="unprintable entry-block email-anchor">
        <mat-icon 
            aria-hidden="false"
            aria-label="My e-mail">
            email
        </mat-icon>
    </a>
    <a 
        [href]="'##U2FsdGVkX19G9R9bmB5AwGYNJDmNYsnXwzTG4r4FJId59+xt4bAPeAc4+AP1SJUg##' | decode"
        title="Me on Github"
        target="_blank"
        rel="noopener noreferrer"
        class="unprintable entry-block">
        <mat-icon 
            svgIcon="github-light"
            aria-hidden="false"
            aria-label="Me on Github">
        </mat-icon>
    </a>
    <a 
        [href]="'##U2FsdGVkX19UQ57Z8mDAU7eoG5PJDVoM7rz81eARWgw7fi2q+dwcxBztaMn9ERNW##' | decode"
        title="Me on Telegram"
        target="_blank"
        rel="noopener noreferrer"
        class="unprintable entry-block">
        <mat-icon 
            svgIcon="telegram"
            aria-hidden="false"
            aria-label="Me on Telegram">
        </mat-icon>
    </a>
    <a 
        [href]="'##U2FsdGVkX19hwv9VmxIfUlQadP642q8CV+9UPrM1HaIG1W96uVKp1oC6N+nt6pFyLz9HRW/aWLbX5EXUBdWAZQ==##' | decode"
        title="Me on Skype"
        target="_blank"
        rel="noopener noreferrer"
        class="unprintable entry-block">
        <mat-icon 
            svgIcon="skype"
            aria-hidden="false"
            aria-label="Me on Skype">
        </mat-icon>
    </a>
    <a 
        [href]="'tel:' + ('##U2FsdGVkX1/7duXDPd1OI5AKWFVSJaVXPQWKdIcWfkQ=##' | decode)"
        target="_blank"
        rel="noopener noreferrer"
        class="entry-block">
        <mat-icon>phone</mat-icon>
        <span class="entry-label">
            {{'##U2FsdGVkX1/9rvQoimu970d3xI0HykJOnnWDgP7nIcNb3MpyH4R0CSek1Lik0WBY##' | decode}}
        </span>
    </a>
    <p class="entry-block">
        <mat-icon 
            [style.color]="metropolitenColor$ | async"
            svgIcon="metropoliten"
            title="I live at subway station"
            aria-hidden="false"
            aria-label="I live at subway station"
            class="metropoliten-icon">
        </mat-icon>
        <span class="entry-label">
            {{'##U2FsdGVkX1+ItWWjC80Gz3suVLBfN3sbID3LGm92TUb/9ZkAAzF1Nmy6Rx4hz9tr##' | decode}}
        </span>
    </p>
</div>