@import 'tokens';

.contacts-body {
    display: flex;
    align-items: center;

    @media (min-width: #{$width + 1px}) {
        & > :not(:last-child) {
            margin-right: 8pt;
        }
    }

    @media (max-width: #{$width}) {
        flex-wrap: wrap;
    }
    
    .entry-block {
        min-width: 24px;
        display: flex;
        align-items: center;
        margin-bottom: 0;

        & > :not(:last-child) {
            margin-right: 4pt;
        }

        &.unprintable {
            @media print {
                display: none;
            }
        }

        @media (max-width: #{$width}) {
            margin: 8px;
        }

        mat-icon {
            flex: none;
        }
    }

    a.entry-block { // Strenghtening anchor specifity
        cursor: pointer;
        text-decoration: none;

        &:any-link {
            color: inherit;
            text-decoration: none;
        }
    }

    .entry-label {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .metropoliten-icon {
        transition: color 300ms ease;
    }
}