<div class="see-also-body">
    <h3 class="project-label">
        <a
            [href]="'##U2FsdGVkX18yBCDrKl6IUGI9J8Arelbaeo7dpH7sMmTy8Rw2tBivGpK7lQoLGKW98Ps7QkOXrhfOWSi9scYrrA==##' | decode"
            target="_blank"
            rel="noopener noreferrer"
            class="carousel-label">
            {{'##U2FsdGVkX1+OW3KHzXzRb72yzF4nbnZaidOWep3wwzz8HGZ+YsAl4+C+Tlh2NLGR##' | decode}}
        </a>
    </h3>
    <ul class="inner-list">
        <li>
            <b>What:</b>
            <span>
                {{' ' + ('##U2FsdGVkX1/ZA4yH2fYFacFXNwMMAw4mO6f7EuQO5DxnyjZ8+C/Jus0OlEm/s7vRz/YiPpo0g57lAYw9Rt6xbczxpree0qmRK2RXcpsK5NydNCMFvJccHRMzac2JP4maARkyWbwUctpT70J7wA9A7g==##' | decode)}}
            </span>
        </li>
        <li>
            <b>Why:</b>
            <span>
                {{' ' + ('##U2FsdGVkX18CXjiggUt9dl0mabcT0e2f5I/X6RJKFlbotZLm6b5LyfbJtebEusnH/8mL4eKWhtMfjGj+FiplMugHNZllMWBuPUNPfLEf+tHhShPxOYle+/QoIejUsyEAp8hlCLln5frmw1bmO4oh1UO3CRaUUdMrSNAWz7JUPy8YZsxeDq991o0KO92UjTzL/39UZnmxUkN/HaheSSLkZlVhp4FGSPPFwTG/ro4051w=##' | decode)}}
            </span>
        </li>
        <li>
            <a 
                [href]="'##U2FsdGVkX19Sd4Zm9jjRk40T+BQlqnaJWoR8JyWW8my/jlxanhgC9L1Y99AuHPeL5nXYybeZQXyDcSMTIBrb8Q==##' | decode"
                target="_blank"
                rel="noopener noreferrer">
                <b>{{'##U2FsdGVkX189Z0agdctbAPDiKK4rOYRBlZPBbcKEba4=##' | decode}}</b>
            </a>
        </li>
    </ul>

    <h3 class="project-label">
        <a
            [href]="'##U2FsdGVkX1915cS9IrNd8ayDlXzn+kcm7uvypW4yssKgKB6hGdzYcrVeQufYim1JuWtfkWb7Wi/a7S1R+iAxGQrk5PQv2zuZcPRHOJe+lu0=##' | decode"
            target="_blank"
            rel="noopener noreferrer"
            class="carousel-label">
            {{'##U2FsdGVkX1/nOL2GvMBlSqzaM0X/Q9yupRUW1ssw9PNm7MvFvNAmLKoqPZzlCcLe##' | decode}}
        </a>
    </h3>
    <ul class="inner-list">
        <li>
            <b>What:</b>
            <span>
                {{' ' + ('##U2FsdGVkX18rf+9F3wj80TLxs8H9wwe3kAe4vrJG+Vq16U5MBi2N1JM8+aaU1vBsWlDmx7pjk6Jq2ehE13KIYg==##' | decode)}}
            </span>
        </li>
        <li>
            <b>Why:</b>
            <span>
                {{' ' + ('##U2FsdGVkX18wMt+peZU6p8TmbMQDBHlvaleUi58A+a/Ges3cilMIYmhw0IT5qk3I7FZI8JloS11WVEkctwRQVaTK5ohQXhI/YnowISQNTtrZdOyGds04FkWwUpSFtzRgSYDUgn43V94+z9HvWAXdLF0Xyojp/AbdcMzVbEyovJoCZISoxEz7zWnVc9TqzUgNIUW/mTfk4MdRktFJ3MBIDwr80zn+cpqKZUy7OeYtNN8k4AJnbONAFyMyw+P2xGROc6/IfuK2iUfFKyE4oXdvx+/BqPOLmFAuqzEMpbexquJV8RMfF3ezFpkxADMF5A9q##' | decode)}}
            </span>
        </li>
    </ul>
</div>