<div class="see-also-body">
    <h3 class="project-label">
        <a
            [href]="'##U2FsdGVkX1/RU9r7VHNqYKYGYcMEBC4i3B16T9HNNR6WTdp1pkmXQWo/M+oCebRIhiakcCKW7IvCZ7Aq2srnGQ==##' | decode"
            target="_blank"
            rel="noopener noreferrer"
            class="carousel-label">
            {{'##U2FsdGVkX1+M2KTFqr26lMTsiEe5UGFJd92rzjNFtNMfzgZdKpcPBq/5fdDPux0X##' | decode}}
        </a>
    </h3>
    <ul class="inner-list">
        <li>
            <b>What:</b>
            <span>
                {{' ' + ('##U2FsdGVkX1/EFGQvHJpfk3r7SXJE8hSmiXIX0aUuSQqSz0DuVSFfz9N2FZZM+iIQyveXsglV1lXnx0ibw8ox+gD+d1+dNURnlsGgqU1nYW/4LMFfbfB7AGi8DivwTeYsOE+RMfd4ieeNvH/JNaar4g==##' | decode)}}
            </span>
        </li>
        <li>
            <b>Why:</b>
            <span>
                {{' ' + ('##U2FsdGVkX19jys9RwhRJqVve8hGkSauI5058uhd0acy4d8cUoxOEUn+AweL5VXPU6ympVICQWZcjEQmQh6hl/zMxeyY8oBkcCavZkhIPxC44qKfsmlthSsObvPXS+IiD4kF/x5A8fld3va/rZuP50NwY1Csnhs2DMskv8iaVM8pJBay90uvq0SHWk8nUvpMaLL0ypTaLbjv+LlqlNoPB6I/nBLSswnTGwHrlp9fYUqk=##' | decode)}}
            </span>
        </li>
        <li>
            <a 
                [href]="'##U2FsdGVkX19tAowUPMM3ihLU5ey5VvhVxjar14ds074RHdKYVLpPLZFMVGXNIW9jKkjsaz3dYL+1qwISowSkFg==##' | decode"
                target="_blank"
                rel="noopener noreferrer">
                <b>{{'##U2FsdGVkX1+npJ0ogVFYlREQr20bh2jsOPyN5kcRMUY=##' | decode}}</b>
            </a>
        </li>
    </ul>

    <h3 class="project-label">
        <a
            [href]="'##U2FsdGVkX186tdgiFJ+FJTe7QYbZpAzAIooNZcMEt9ufbQpFCuQXc4k8BEdDDH7nE58ohVXGFEp4+KTmVMZHjtbSXMqG3qRtpXfkHxd+Mr4=##' | decode"
            target="_blank"
            rel="noopener noreferrer"
            class="carousel-label">
            {{'##U2FsdGVkX1/RY4W2fRoN13Geq4qEjyxOJtdHR28lUM0r6SOjBkoKL5OmLnXj09gA##' | decode}}
        </a>
    </h3>
    <ul class="inner-list">
        <li>
            <b>What:</b>
            <span>
                {{' ' + ('##U2FsdGVkX1/2xqTtt68pMUttc/dSRh9DOjlJvvnoCQKnMioJx8Gcf6rQ2CztcOK+sBqT094qBygd/J64rUoElg==##' | decode)}}
            </span>
        </li>
        <li>
            <b>Why:</b>
            <span>
                {{' ' + ('##U2FsdGVkX18yuAuAqkppyQkPBouBtTXRXctXinpiQRT1kDMvU5CeX3azzlra5qXv0nOqqYEEqXDVfcwtAK48KTrsa3X7W+1KsvcyRNWg9itOOct8kJGWPid0SutD2XqGm3GK05l3QG1H1ar13iVUYQq4Cc8OIMjmPNIW/04FLzLJXwZR7gDEcago93bKG0j6uKTBH/guUqCWXuWh13tmn0K6ZduHJAnHh6lX+Sp+yM9HIiGs6tbx8rNyl9nR9SzsWG9T4wOIZgdYiP67aylRPzlUTAMTKXhJKUooiXjzCxTHSAmhx+HaBEXcRcpfQjuX##' | decode)}}
            </span>
        </li>
    </ul>
</div>