<div class="see-also-body">
    <h3 class="project-label">
        <a
            [href]="'##U2FsdGVkX18dW0cNdgdGq8ocrszTsL9P3Gx6Iz3+v75x2gtITA6MBJyXofF/mvQ0EHC1Z4NRARXVa4Pbwv0wZA==##' | decode"
            target="_blank"
            rel="noopener noreferrer"
            class="carousel-label">
            {{'##U2FsdGVkX1+ldC3TODEoRezVHatKXvpe+19iMy7qZ0NLab7TOdBYrsT9G9tmiS9B##' | decode}}
        </a>
    </h3>
    <ul class="inner-list">
        <li>
            <b>What:</b>
            <span>
                {{' ' + ('##U2FsdGVkX19uWmBekInnKdO2gFrSW4OTRNCW+eFP3Zr2YKkKoXH4R9tR6CKDKMuKvTaLUd+Uku4fNLTQDxoOxUQKcr/6IeKPNvh+P01cCNryrnjuqWDjmRU++/9reIyRKx9ifgEHnCwRirxGtib4Zw==##' | decode)}}
            </span>
        </li>
        <li>
            <b>Why:</b>
            <span>
                {{' ' + ('##U2FsdGVkX1+V5VKIhp6tVaGCUdkX5DQp/wbhpQqYYP8HHbb9liBGUIH7s03VOvyMVfAIv+4PyQwi90XT/4r0K4DkkjjrwAtDyhXs8bOLDaPQeRukK743Fu4l5nTF4VHQAAM9eDl2ThjAUs4qLOY65amMoTSfINDt1t+0rNn0RvapJoB8rsk8HfIUc5mk8tQqyD7u0NyP35NwuXsFMYEdhuI+uaAq7QXsPFHHsW/kHm8=##' | decode)}}
            </span>
        </li>
        <li>
            <a 
                [href]="'##U2FsdGVkX19z5YXsvBQ4CQFJPpt0kN7MFRkNOe5ckarnSWwUt9Cl5eCoFODre2pXdzsoW0yfHo1fVXbK5K5g1A==##' | decode"
                target="_blank"
                rel="noopener noreferrer">
                <b>{{'##U2FsdGVkX1/n00rg5vak2iE/RbS2/0C1fJFvkw0Pk/k=##' | decode}}</b>
            </a>
        </li>
    </ul>

    <h3 class="project-label">
        <a
            [href]="'##U2FsdGVkX19e0F2rCJRwXk2fISzwKVIgW9VKny9yMuDILSK1ylYPi35WXQo+bGYVR3+c/AxFRciqxlULtDwYqvchkzSr5mA2ovNXzknaPiA=##' | decode"
            target="_blank"
            rel="noopener noreferrer"
            class="carousel-label">
            {{'##U2FsdGVkX193lNHlN6uBrHsnOeci4liRpzdd0qrSei+k8NpvjkjXrnuhCVUhCjaj##' | decode}}
        </a>
    </h3>
    <ul class="inner-list">
        <li>
            <b>What:</b>
            <span>
                {{' ' + ('##U2FsdGVkX1//2cvbt1NQVKYlKwj7cqfqXIXCjc+cvNVIKr+HL8AdwotryvOg8ulb4/3CcqZIKoDS1oSXCZtVWg==##' | decode)}}
            </span>
        </li>
        <li>
            <b>Why:</b>
            <span>
                {{' ' + ('##U2FsdGVkX18Tj61SA7ztoFueavbYt/p8sxUBj++AbNNSRUYRt/pDADUDOSQUkU5COcX+SFWMmEtTOlg8F9nXm5OPN7ohlhIk6Gcbg2T+pnxyJGmVskFlZx+2jBMFFtZpOVrYXFKYUW3PELCECdHd4tAXsBJfqrtpbFi7AWiKII3Jfz3HtBnbCZ4uuw5cwEOOOYB2k0p72SmdNgngqAyqWxNLyDaUFW1dXs5IvLY3ntK3sdNv3mqSah7cHkYwrOx+lfSX0pSdFv7G0IXcpzC2QUhgFOuUwW1YsCQbIU4fcl6HCMpDoJKnvPWQZ8rD6JyE##' | decode)}}
            </span>
        </li>
    </ul>
</div>