<div class="page-1-body">
    <section 
        aria-label="Personal info" 
        class="personal-section">
        <cv-personal class="personal-component"></cv-personal>
    </section>
    <section
        aria-label="Hard skills"
        class="content skills-section">
        <p class="primary-skills">
            <span>Angular</span>
            <span>RxJS</span>
            <span>Typescript</span>
            <span>HTML5&nbsp;/&nbsp;CSS3</span>
        </p>
        <p class="sub-skills">
            Performance, architecture, UX&nbsp;/&nbsp;UI, Karma&nbsp;/&nbsp;Jasmine, GTM&nbsp;/&nbsp;GA
        </p>
    </section>
    <section
        aria-label="Goals"
        class="content">
        <span class="goals-label">
            {{'##U2FsdGVkX1+AVbDQ4R9YkIvJf2wn0Au0TnbGQ3VNm11/ikEOjaQXuSnPvA+O2N+/tEs+8gDzBIWENATZOD+dMVubKQcXAvsdXocVk89KZRyfDNsvyzt4wdszBH/K+RvA##' | decode}}
        </span>
        <ul class="goals-list">
            <li>
                {{'##U2FsdGVkX1+Dvtk5pRj5JDwW82jABhtX8QCUbZsw2bJy6J+EmXEoxpYvxZRbGlnXytUwokBF/CQEb1QCP9bn/X3zzbR8mzzYheGF1VfJteLM2BwY0ym3ercFnPytywwMdwEZ/Ljlu/zKy0KJYDl8Yw==##' | decode}}
            </li>
            <li>
                {{'##U2FsdGVkX180qAQ+qHwsjD5jALAJIiXMp3x/Ff6rHsQ/oL1JwYrLUpiyXPVA1hNvNCKvmgUWwuNmDM3shFZM0p1/ygieOyR7A97wJSUFpd3NGrWmNDH6ICaetMlzP0ng##' | decode}}
            </li>
        </ul>
    </section>
    <section
        aria-label="Past projects"
        class="content">
        <h2 class="bio-label">Bio</h2>
        <cv-bio></cv-bio>
    </section>
</div>