<div class="page-1-body mat-elevation-z2">
    <section 
        aria-label="Personal info" 
        class="personal-section">
        <cv-personal class="personal-component"></cv-personal>
    </section>
    <section
        aria-label="Hard skills"
        class="content skills-section">
        <p class="primary-skills">
            <span>Angular</span>
            <span>RxJS</span>
            <span>Typescript</span>
            <span>HTML5&nbsp;/&nbsp;CSS3</span>
        </p>
        <p class="sub-skills">
            Performance, architecture, UX&nbsp;/&nbsp;UI, Karma&nbsp;/&nbsp;Jasmine, GTM&nbsp;/&nbsp;GA
        </p>
    </section>
    <section
        aria-label="Goals"
        class="content">
        <span class="goals-label">
            {{'##U2FsdGVkX1+GOs5XfMP+ejszwgz5XuS7Tt+ORDJbRdHfpJM+CKw1cQz1nFe1UWf9qiIftAcWF1vOT/8r1yL7x+IpBHoFlFurbaqABdLSNX9YiTKWl46Twkp/Mp3jTjuZ##' | decode}}
        </span>
        <ul class="goals-list">
            <li>
                {{'##U2FsdGVkX1/oUl4YDLVJgMfJI2nel0YwivIt5YhD/ykXHVWVhz+b1f6w6vLNXcUL4JEa81692/m2Jv/ACqvpRTzMn5wR7GDNwOD4wpb8rhYKk5qcmZJlmTje7Ol6LvXIhIeoqDlZPttZmnV7Dn9P5w==##' | decode}}
            </li>
            <li>
                {{'##U2FsdGVkX18NW5g2jfiOtG2NTGT3OSPQIbVonHzZwg/M+FVX1g3D+raY71uCPJgWj7jVwGGVcglwdc8Yy053URWziRZShqyR+fAqnK4G1k0ZiyYJzyxFsFhc+zIi1wc9##' | decode}}
            </li>
        </ul>
    </section>
    <section
        aria-label="Past projects"
        class="content">
        <h2 class="bio-label">Bio</h2>
        <cv-bio></cv-bio>
    </section>
    <section aria-label="relations">
        <cv-relations></cv-relations>
    </section>
    <section
        aria-label="feedback"
        class="content">
        <i class="contact-label">
            {{'##U2FsdGVkX1+31HiIwFv515BsPb35beUJsCxxM/GWPSdhUfhKXXTdhnSvEw9EH5mo79Hkeo7TKj2cCvJfEqsdeWemA0f+rI4qvc3L+qZkymM=##' | decode}}
            <a [href]="'mailto:' + ('##U2FsdGVkX19jEe/V+WEgDPBaSAquSIHxf6ULCBpFIQdi5lWpwNApo0wfSXW5K8XX##' | decode)">{{
                '##U2FsdGVkX18jq81qlTR3+tfgXzW0g+1X0GWJyQ02jp2jgL/IoMsvRrx94gddHVHr##' | decode
            }}</a>.
        </i>
    </section>
</div>