@import 'tokens';

// * - values taken from Google Docs

.page-1-body {
    .content {
        display: flex;
        flex-direction: column;
        min-width: 0;
        margin-bottom: 16pt;
    }

    .personal-section {
        display: flex;
        margin-bottom: 16pt;
    }
    
    .personal-component {
        width: 100%;
    }

    .skills-section {
        margin-bottom: 16pt;
        padding: 12pt 0;
        border-top: 1px solid;
        border-bottom: 1px solid;

        & > :not(:last-child) {
            margin-bottom: 14pt;
        }

        & > :last-child {
            margin-bottom: 0;
        }
    }

    .primary-skills {
        width: 100%;
        align-self: center;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        font-size: 20pt;

        @media (max-width: #{$width}) {
            flex-wrap: wrap;

            span {
                margin: 8px;
            }
        }
    }

    .sub-skills {
        align-self: center;
        text-align: center;
        font-size: 16pt;
        line-height: 20pt;
    }

    .goals-label {
        margin-bottom: 8pt;
    }

    .goals-list {
        margin: 0;
    }

    .bio-label {
        margin-bottom: 8pt;
        font-weight: 600;
    }
}