<div class="page-1-body">
    <section 
        aria-label="Personal info" 
        class="personal-section">
        <cv-personal class="personal-component"></cv-personal>
    </section>
    <section
        aria-label="Hard skills"
        class="content skills-section">
        <p class="primary-skills">
            <span>Angular</span>
            <span>RxJS</span>
            <span>Typescript</span>
            <span>HTML5&nbsp;/&nbsp;CSS3</span>
        </p>
        <p class="sub-skills">
            Performance, architecture, UX&nbsp;/&nbsp;UI, Karma&nbsp;/&nbsp;Jasmine, GTM&nbsp;/&nbsp;GA
        </p>
    </section>
    <section
        aria-label="Goals"
        class="content">
        <span class="goals-label">
            {{'##U2FsdGVkX1997yWJnhSqzV/UvnoyV5Hqewi8Eknzpa5iqUGUONDy/+wMaKLRlNCGLQqtrSRS/1K9GDXntTcjkPotaIJ1g7ZvkWBXruVCN9vQOATG4WGpcY8aiMTDvCv/##' | decode}}
        </span>
        <ul class="goals-list">
            <li>
                {{'##U2FsdGVkX18x9cLCbz0yEpXgUQprdFYw9PnDH/Vfr7AeZB+sG21HTTkSDA2vg9u6sTujS+Euxbn1xOgVU5f+O+LAYVzbOrjBzJ6wqWTfFwo=##' | decode}}
            </li>
            <li>
                {{'##U2FsdGVkX1/XkDo7ApdeBmqmgUlF4ElnVsr/BlKUGqgWsZPknl05dMsqdhnB/Hzl6PLEicvrH6fXEajo9DkZsntV2m4TA3qd0pYYHyYEl5DN6pycrB5zhkyeDkWlbFIKq0yGYSOdr/8DGSs4MgOj7A==##' | decode}}
            </li>
            <li>
                {{'##U2FsdGVkX1953V2A5kveyewCewd8AKViaq9HbWAOH5PiY5ojw5fQOajZEXqj+2PUYoeFZhDfrCGbnduMOzGGCOQEe5sdhwoT197tFAp1JCg9UjNK4NIvLoe1xtxN4E27##' | decode}}
            </li>
        </ul>
    </section>
    <section
        aria-label="Past projects"
        class="content">
        <h2 class="bio-label">Bio</h2>
        <cv-bio></cv-bio>
    </section>
</div>