@import '../theming.scss';

.dark-theme {
    $theme: mat-dark-theme((
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn,  
        )
    ));
    @include angular-material-theme($theme);
    @include cv-theme($theme);

    @media screen {
        a:link {
            color: #a7a7ff;
        }
    
        a:visited {
            color: #cc98fb;
        }
    }
}