@import '../theming.scss';

.light-theme {
    $theme: mat-light-theme((
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn,  
        )
    ));    
    @include angular-material-theme($theme);
    @include cv-theme($theme);
}