@import '~@angular/material/theming';
@import '../app/components/personal/personal-theme.scss';
@import '../app/components/toolbar/toolbar-theme.scss';
@import '../app/app-theme.scss';

@include mat-core();

$primary: mat-palette($mat-blue);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$warn:    mat-palette($mat-red);

/** Mixin of all themable components throughout the app */
@mixin cv-theme($theme) {
    @include cv-app-theme($theme);
    @include cv-personal-theme($theme);
    @include cv-toolbar-theme($theme);
}