<form 
    (ngSubmit)="submit()"
    class="password-dialog-body">
    <mat-dialog-content>
        <p>
            Content is encrypted and password is required to decrypt it
        </p>
        <mat-form-field class="form-field">
            <mat-label>Password</mat-label>
            <input 
                [formControl]="passwordControl"
                matInput 
                type="text">
            <button 
                *ngIf="hasValue" 
                (click)="clearPassword()"
                mat-button 
                matSuffix 
                mat-icon-button 
                aria-label="Clear password">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button 
            mat-flat-button
            color="primary"
            type="submit">
            Submit
        </button>
    </mat-dialog-actions>
</form>