// * - values taken from Google Docs

@mixin cv-app-theme($theme) {
    $is-dark: map-get($theme, is-dark);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $default-color: #f8f9fa;
    $background-color: if($is-dark, #272727, $default-color); // *

    .app-body {
        color: mat-color($foreground, text);
        transition: background-color 300ms ease, color 300ms ease;

        @media screen {
            background-color: $background-color;
        }

        @media print {
            color: black;
        }

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        .sticky-block {
            &::before {
                box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                background: black;
            }

            &::after {
                background: linear-gradient(
                    rgba($background-color, 0.99) 10%, 
                    rgba($background-color, 0.8) 50%, 
                    rgba($background-color, 0.4) 70%, 
                    rgba($background-color, 0),
                ); 
                transition: background 300ms ease;
            }
        }

        .card-block {
            background-color: mat-color($background, card);
            transition: background-color 300ms ease, transform 600ms ease;

            @media print {
                background-color: $default-color;
            }

            @media (prefers-reduced-motion: reduce) {
                transition: none;
            }
        }
    }
}