// * - values taken from Google Docs

.app-body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .toolbar-component {
        position: sticky;
        top: 0;
        width: 100%;

        @media print {
            display: none;
        }
    }

    .page-component {
        @media screen {
            margin-top: 11px; // *
        }

        @media print {
            width: 100%;
        }
    }
}