<section 
    aria-label="Curriculum Vitae"
    class="app-body">
    <div class="sticky-block">
        <cv-toolbar class="toolbar-component"></cv-toolbar>
    </div>
    <cv-password-banner 
        *ngIf="passwordUnavailable$ | async"
        class="password-component">
    </cv-password-banner>

    <!-- Page 1 -->
    <div
        [class.collapsed]="collapsed$ | async"
        [class.flipped]="flipped$ | async" 
        class="card-block mat-elevation-z2">
        <cv-page-1></cv-page-1>
        <div class="backflip-block page-1">
            <img 
                [src]="'##U2FsdGVkX1/8H5BFYyRb36RGBGYJp8bXq+lxMJQCy9AaCxm58xqnMaQCsAhR4mgZc8DNvwiACObDf9rqmgJrWCle3lgCrwupv9g0lJnsq9ZlKdVE+XJiPQK070rUHc3Dlo/ZW4gJvTWZvpvuvxgWNA==##' | decode"
                class="ozon-image">
            <span class="ozon-label">
                {{'##U2FsdGVkX18WeROqwPrmGqkeOI7rfL14ATWny68t53Ba++e7l7B3aEZXwFI1AKATA6YOM8WU6Et8BJunsDjjbDQqqqcvL0vgGGOV6qjDTwhSxWKVrZuwhRKLXaSOyIXVA9PT9749LtK9TAfH3JmTxg==##' | decode}}
            </span>
        </div>
    </div>
    <div 
        (dblclick)="toggleCollapse()"
        aria-hidden="true"
        class="collapse-block">
    </div>

    <!-- Page 2 -->
    <div
        [class.collapsed]="collapsed$ | async"
        [class.flipped]="flipped$ | async" 
        class="card-block last-page mat-elevation-z2">
        <cv-page-2></cv-page-2>
        <div class="backflip-block page-2">
            Thanks for scrolling to this point. You're awesome! 😎👍
        </div>
    </div>
    <div 
        (dblclick)="toggleCollapse()"
        aria-hidden="true"
        class="collapse-block last">
    </div>
</section>