// * - values taken from Google Docs

.app-body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    
    @media screen {
        padding-top: 11px; // *
        background: rgb(248, 249, 250); // *
    }

    .page-component {
        @media print {
            width: 100%;
        }
    }
}