<section 
    aria-label="Curriculum Vitae"
    class="app-body">
    <div class="sticky-block">
        <cv-toolbar class="toolbar-component"></cv-toolbar>
    </div>
    <cv-password-banner 
        *ngIf="shouldShowPasswordBanner$ | async"
        class="password-component">
    </cv-password-banner>

    <!-- Page 1 -->
    <div
        [class.collapsed]="collapsed$ | async"
        [class.flipped]="flipped$ | async" 
        class="card-block mat-elevation-z2">
        <cv-page-1 class="page-component"></cv-page-1>
        <div class="backflip-block page-1">
            <img 
                [src]="'##U2FsdGVkX1/1Euc2l7xmz+NY3g3RMZ2ZUAuGioSwqB7veC9AUUPXiIlUURA+lDXuy072RtESWdlrc6lohhFcNsQ+ZZNFXO6XFFnTSwu9vUGaGqBE66JpMuBYs2nRVqSCfSVwV/pvcpKxnYwi/q+Q9g==##' | decode"
                alt="A guy who doubts your statements"
                class="ozon-image">
            <span class="ozon-label">
                {{'##U2FsdGVkX19j0VSs7c5MaJVivxT8X1yAc3TiqDMx7ea1xYRx1yF/tdfS+8+tfKc8RSMYkkyYYgaGh7TBatM0A+BAWKMPAuDf5486ec2iPcF7JdqRueBp0MfgMdbMDkAaaffy5Met39APolsemUw0cg==##' | decode}}
            </span>
        </div>
    </div>
    <div 
        (dblclick)="toggleCollapse()"
        aria-hidden="true"
        class="collapse-block">
    </div>

    <!-- Page 2 -->
    <div
        [class.collapsed]="collapsed$ | async"
        [class.flipped]="flipped$ | async" 
        class="card-block last-page mat-elevation-z2">
        <cv-page-2 class="page-component"></cv-page-2>
        <div class="backflip-block page-2">
            Thanks for scrolling to this point. You're awesome! 😎👍
        </div>
    </div>
    <div 
        (dblclick)="toggleCollapse()"
        aria-hidden="true"
        class="collapse-block last">
    </div>
</section>