<section 
    aria-label="Curriculum Vitae"
    class="app-body">
    <div class="sticky-block">
        <cv-toolbar class="toolbar-component"></cv-toolbar>
    </div>
    <cv-password-banner 
        *ngIf="passwordUnavailable$ | async"
        class="password-component">
    </cv-password-banner>

    <!-- Page 1 -->
    <div
        [class.collapsed]="collapsed$ | async"
        [class.flipped]="flipped$ | async" 
        class="card-block mat-elevation-z2">
        <cv-page-1></cv-page-1>
        <div class="backflip-block page-1">
            <img 
                [src]="'##U2FsdGVkX1/GmyZGad6h+/QHE/EhZD3jI4BFimwHNKUZ2Cn+W/xQgRd4jt3jKkn6nJXzEUPcyaJcxWrYY/3iYX9WfAfttXkNko/30HYRU6p07GlSiJ/G1cTU5wXNPlrcnTmjUloACfXRU7WFNa4TaQ==##' | decode"
                class="ozon-image">
            <span class="ozon-label">
                {{'##U2FsdGVkX19x2opHNcDNN5ASQ73NHAFVdAqiBEm9OXKdbLUUbUz6pJsO/uOrXinsR9cmGAcncdzE2BOny6IqBrK6RJlnbRUTjSrI++5xIxo8m1Wv2+8s4HykNy2J2tR1A1/0o0/NjEe0SSPJwYfhCA==##' | decode}}
            </span>
        </div>
    </div>
    <div 
        (dblclick)="toggleCollapse()"
        aria-hidden="true"
        class="collapse-block">
    </div>

    <!-- Page 2 -->
    <div
        [class.collapsed]="collapsed$ | async"
        [class.flipped]="flipped$ | async" 
        class="card-block last-page mat-elevation-z2">
        <cv-page-2></cv-page-2>
        <div class="backflip-block page-2">
            Thanks for scrolling to this point. You're awesome! 😎👍
        </div>
    </div>
    <div 
        (dblclick)="toggleCollapse()"
        aria-hidden="true"
        class="collapse-block last">
    </div>
</section>