<div class="page-2-body">
    <section
        aria-label="See also"
        class="content">
        <h2 class="see-also-label">See also</h2>
        <cv-see-also></cv-see-also>
    </section>
    <section aria-label="relations">
        <cv-relations></cv-relations>
    </section>
    <section
        aria-label="feedback"
        class="content">
        <i class="contact-label">
            {{'##U2FsdGVkX1+yzdrDzej4QoDndoX8SPFn2n3vhcXgDpDO3EpGd/dzx7NnJI0vfiqVsQkXgxAlSJAmU+rzplZwsT6YbHy9Ma3vF8BwJmTSpV4=##' | decode}}
            <a [href]="'mailto:' + ('##U2FsdGVkX19t3iNmhXlYvgM3gjWRWRCMSRdscuTc3My5QDG0z6SjzQDcJJLb8CML##' | decode)">{{
                '##U2FsdGVkX18aLNmNJF52NP8KHoMep2zD3ZU4V2i4v5H6Pl7YJOhLxlHJpIJ2lWIH##' | decode
            }}</a>.
        </i>
    </section>
</div>