<div class="page-2-body">
    <section
        aria-label="See also"
        class="content">
        <h2 class="see-also-label">See also</h2>
        <cv-see-also></cv-see-also>
    </section>
    <section aria-label="relations">
        <cv-relations></cv-relations>
    </section>
    <section
        aria-label="feedback"
        class="content">
        <i class="contact-label">
            {{'##U2FsdGVkX19F5DpdwTohRCPBUFlbJdffOQwi0K65+UsTdgRC6vVxshksVV5jmfyFz/jlpUf+7pXCOBF6cjqfDtiG4kCXctrgjE0gRfrmu7E=##' | decode}}
            <a [href]="'mailto:' + ('##U2FsdGVkX1+llZNU/XzUE2d+27IS2mMU0qQTKah8gzLnywGkh3IqpK+X4W7cMo1/##' | decode)">{{
                '##U2FsdGVkX1+tsz7sUWgarizc6Z6ChZSlTJ8EsY0ltXgldhFxEq6dS+RXSqjifIrv##' | decode
            }}</a>.
        </i>
    </section>
</div>