<div class="page-2-body">
    <section
        aria-label="See also"
        class="content">
        <h2 class="see-also-label">See also</h2>
        <cv-see-also></cv-see-also>
    </section>
    <section aria-label="relations">
        <cv-relations></cv-relations>
    </section>
    <section
        aria-label="feedback"
        class="content">
        <i class="contact-label">
            {{'##U2FsdGVkX1+UiL6Et7XRk2kA7fC72bJG0kXHuk9ck0x9IsO4UvlN3yGLO2sHMYhE/00SFa9GiPhRHwm+i89DHIN4qK0aorLwCHKRZ0+330c=##' | decode}}
            <a [href]="'mailto:' + ('##U2FsdGVkX1+OM6cfFJ55wMxCA4WdY6A0laYxxlzORDOEKlNmJRi+uHet9efqanGS##' | decode)">{{
                '##U2FsdGVkX18mTuV5d7u55lczYX2w74Si7g/8xPMWOWS96BFSAcT73lwyppaebk1w##' | decode
            }}</a>.
        </i>
    </section>
</div>