@import 'tokens';

.toolbar-body {
    width: 100%;
    height: $toolbar-height;
    display: flex;
    border-bottom: 1px solid;
    padding: 0 24px;

    .theme-button {
        min-width: $toolbar-height;
        margin-left: auto;
        padding: 0;
    }
}