// * - values taken from Google Docs

.toolbar-body {
    width: 100%;
    height: 35px; // *
    display: flex;
    border-bottom: 1px solid;

    .theme-button {
        min-width: 35px; // *
        margin-left: auto;
        padding: 0; // *
    }
}